TEXTAREA
{
	font-family: "Charter", sans-serif;
}
INPUT
{
	font-family: "Charter", sans-serif;
}
BODY
{
	font-size: 12pt;
	color: #f1be3e;
	font-family: "Charter", sans-serif;
	background-color: #8c0031;
	margin: 0px;
}
TD
{
	font-size: 12pt;
	color: #f1be3e;
	font-family: "Charter", sans-serif;
}
A:link
{
	color: #fc8767;
	font-family: "Charter", sans-serif;
}
A:active
{
	color: #f00000;
		font-family: "Charter", sans-serif;
}
A:visited
{
  COLOR: #fc8767;
		font-family: "Charter", sans-serif;
}
A:hover
{
	color: #cfc2b9;
		font-family: "Charter", sans-serif;
	ttext-decoration: underline overline;
}
.field
{
	font-weight: bold;
		font-family: "Charter", sans-serif;
}
.articleheader
{
	font-weight: bold;
	font-size: 14pt;
	color: #ffffff;
		font-family: "Charter", sans-serif;
}
.articletitle
{
	font-weight: bold;
	font-size: 14pt;
	color: #ffffff;
	font-family: Arial, Helvetica, sans-serif;
}
.subtitle
{
	font-weight: bold;
	font-size: 11pt;
	font-family: Arial, Helvetica, sans-serif;
}
P
{
	font-size: 11pt;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
}
P.newadd
{
	font-size: 11pt;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	ccolor: #ccddcf;
}
OL LI
{
	font-family: Arial, Helvetica, sans-serif;
}
UL LI
{
	font-family: Arial, Helvetica, sans-serif;
	mmargin-right: 40px;
	ttop: 0px;
	ffont-size: 9pt;
	list-style: square url('/images/BlueBullet.gif') outside
}
.highlighted
{
	font-size: 11pt;
	color: red;
	font-family: Arial, Helvetica, sans-serif;
}
.rptclasshighlighted
{
	font-weight: bold;
	font-size: 11pt;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
}
.reportcaption
{
	font-size: 11pt;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
}
.reportheader
{
	font-weight: bold;
	font-size: 14pt;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
}
.reportclassification
{
	font-weight: bold;
	font-size: 14pt;
	color: #ff5050;
	font-family: Arial, Helvetica, sans-serif;
}
H1
{
	font-size:20pt;
	font-weight: bold;
	color: #f1be3e;
	font-family: "Charter", sans-serif;
}
H2
{
	font-size: 17pt;
	font-weight: bold;
	color: #f1be3e;
	font-family: "Charter", sans-serif;
}
H3
{
	font-size: 15pt;
	color: #f1be3e;
	font-family: "Charter", sans-serif;
}
.h1
{
	font-size:20pt;
	font-weight: bold;
	color: #f1be3e;
	font-family: "Charter", sans-serif;
}
.h2
{
	font-size: 17pt;
	font-weight: bold;
	color: #f1be3e;
		font-family: "Charter", sans-serif;
}
.h3
{
	font-size: 15pt;
	color: #f1be3e;
	font-family: "Charter", sans-serif;
}
.monthHeader
{
	font-weight: bold;
	font-size: 14pt;
	color: #f1be3e;
	font-family: "Charter", sans-serif;
}
.titleCase
{
	font-weight: bold;
	font-size: 18pt;
	font-family: Times New Roman, serif;
}
.spaced
{
	margin-top: 10px;
}
.smallprint
{
	font-size: 10pt;
	color: #f1be3e;
	font-family: Arial, Helvetica, sans-serif;
}
.head1
{
	font-weight: bold;
	font-size: 16pt;
	color: #f1be3e;
	font-family: Arial, Helvetica, sans-serif;
}
.head2
{
    FONT-WEIGHT: bold;
  	font-size: 14pt;
    COLOR: #f1be3e;
    FONT-FAMILY: Arial, Helvetica, sans-serif
}
.head3
{
  	font-size: 12pt;
    COLOR: #f1be3e;
    FONT-FAMILY: Arial, Helvetica, sans-serif
}
.head4
{
  	font-size: 10pt;
    COLOR: #f1be3e;
    FONT-FAMILY: Chater, sans-serif;
}
.smallitem
{
		padding-left : 8px;
		background : #003333  url("/images/bluearrow.gif") 2px 1px no-repeat;
		font-size: 9pt;
		color: white;
		font-family: Arial, Helvetica, sans-serif;
}

.img {
  border: 3px solid #f1be3e;
}
